.dashboard__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 360px);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding: 16px;
  min-height: 100%;
}

/* sm	≥576px */
@media only screen and (min-width: 576px) {
  .dashboard__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 360px);
  }
}

/* lg	≥992px */
@media only screen and (min-width: 1200px) {
  .dashboard__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 360px);
  }
}

/* lg	≥992px */
/* @media only screen and (min-width: 992px) {
  .dashboard__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 360px);
  }
} */
